<template>
    <div>
        <h2>Job Details Page :</h2>
        <p>The job id is {{id}}</p>
    </div>
</template>

<script>
export default {
    props: ['id'],
 data () {
    return {

    }
 },
 methods:{

 }
}
</script>

<style scoped>

</style>