<template>
    <div>
        <h1>Jobs:</h1>
        <!-- <h3 v-for="job in jobs" :key="job" @click="showAll">{{job.title}}</h3> -->
       <div class="job" v-for="job in jobs" :key="job">
            <router-link :to="{name: 'jobDetails',params:{ id: job.id}}">
                <h3>{{job.title}}</h3>
            </router-link>
       </div>
    </div>
</template>

<script>
//import func from 'vue-editor-bridge'
export default {
    data () {
        return {
            isShow:false ,
            jobs: [],
        }
    },
    mounted(){
        fetch('http://localhost:3000/jobs')
        .then(res => res.json())
        .then( data => this.jobs = data)
        .catch( err => console.log(err.message))
    },
    methods:{
        showAll(){
            this.isShow=!this.isShow
        }
    },
}
</script>

<style scoped>
 .job h3{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 600px;
    cursor: pointer;
    color: #444;
  }
  .job h3:hover {
    background: #ddd;
  }
  .job a{
    text-decoration: none;
  }
</style>