<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime soluta voluptas adipisci rerum quod architecto! At rerum sunt assumenda nemo voluptas perspiciatis repellendus fuga harum veritatis numquam, illum non! Eum?</p>
  </div>
</template>

<script>
</script>

<style scoped>
</style>
