<template>
  <div class="home">
   <h1>Home Page</h1>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptate ut minima quam sit deleniti ipsa molestias quo placeat cupiditate quos quod facilis, dolore temporibus fugit est in, aperiam voluptas.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis ipsam sunt officiis quisquam voluptatem, ullam minus repudiandae vitae. Ullam, illum sunt velit et sit architecto accusantium veniam ipsum minus.
   Voluptas incidunt soluta optio hic error modi molestias, velit quidem alias sit excepturi dolor? Quidem, magni harum! Suscipit, libero enim, tenetur magni perspiciatis repellendus, maxime laboriosam ipsum adipisci nesciunt quaerat.
   Architecto, rerum. Quia impedit alias voluptate a! Suscipit assumenda error et eius optio ad voluptate doloremque eaque saepe fugit unde, voluptatem, velit officia maiores eligendi iste illum aliquid, a consequatur.
   Quibusdam ipsa id beatae illum facilis voluptatum minus nobis modi mollitia, optio incidunt neque a odio, quisquam dignissimos enim consequatur. Animi ducimus atque dolores repellendus officiis praesentium fuga! Explicabo, et!
   Et harum hic consectetur obcaecati reiciendis, modi sunt, neque, sed tenetur rerum ullam labore. Officia eveniet a enim numquam, tempore optio saepe accusamus molestiae voluptates voluptas similique? Minima, iusto cum?
   Nobis aspernatur animi, totam ipsum impedit consequatur, voluptatibus, exercitationem aliquam minus repellendus maxime quae eveniet? Alias assumenda, enim magni cumque nisi quidem, asperiores quo nesciunt sint voluptate obcaecati dolorem natus.
   Temporibus vitae magni possimus facere eaque, ab quos nihil. In, dicta. Sit sint porro autem. Eveniet, perspiciatis error nesciunt culpa officiis sit. Corporis placeat vero sed neque, veritatis tempore debitis.
   Ipsum in libero debitis? Mollitia optio quisquam unde eius quod? Quidem laboriosam quae officiis. Nostrum maiores eveniet eum error id aspernatur ratione dolorum repudiandae sint temporibus magni autem, quaerat accusamus?
   Expedita ducimus perferendis enim, illum fugit quibusdam magnam quia fugiat vero eveniet quae possimus, ipsa amet sed necessitatibus voluptatibus. Inventore expedita necessitatibus aspernatur delectus veniam non eos corrupti sint harum!
   Obcaecati commodi voluptatibus tempore similique voluptatum qui ullam facilis porro excepturi neque sed praesentium laborum officia ab veniam nemo cumque numquam iusto doloribus facere, quam rem dolor! Sequi, blanditiis architecto!
   </p>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad voluptate ut minima quam sit deleniti ipsa molestias quo placeat cupiditate quos quod facilis, dolore temporibus fugit est in, aperiam voluptas.</p>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'HomeView',
  components: {
    
  }
}
</script>
