<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/jobs">Jobs</router-link> |
    <router-link to="/about">About</router-link> |
    
  </div>
  <button @click="redirectHome">Redirect to Home</button>
  <button @click="back">Go Back</button>
  <button @click="forward">Go Forward</button>
  <router-view/>
</template>

<script>
export default {
  data(){
    return{

    }
  },
  methods:{
    back(){
      this.$router.go(-1);
    },
    redirectHome(){
      this.$router.push({ name: 'home'})
    },
    forward(){
      this.$router.go(1);
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 960px;
  margin: 0 auto;
}
#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}
#nav a.router-link-exact-active {
  color: white;
  background: crimson;
}
button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
</style>
